#logo2 h2 {
  text-align: center;
  align-items: center;
  color: #CCF381;
  font-size: 40px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  width: 300px;
  height: 500px;
  perspective: 1000px;
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 2em;
  box-shadow: 5px 5px 7px #CCF381;
  background-color: #7ED68E;
  border-radius: 7px;
}

/* Tampilan untuk perangkat mobile */
@media (max-width: 767px) {
  .card-container {
    justify-content: center;
  }

  /* Tampilan untuk landscape mode pada perangkat mobile */
  @media (orientation: landscape) {
    .card-container {
      justify-content: space-between;
    }
  }
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #CCF381;
  color: #111016;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 7px #50C878;
  border-radius: 5px;
}

.card-back h4 {
  margin-top: -13em;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit:fill;
  border-radius: 8px 8px 0 0;
  max-height: 200px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111016;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 4em;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #50C878;
  color: #111016;
  border: none;
}

.custom-btn {
  position: absolute;
  bottom: 0;
  left: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.custom-img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  margin-bottom: -2em;
}

/* Additional styles for hover effect */

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card.flipped:hover {
  transform: scale(1);
}

/*Icons*/
.icons {
  display: inline-block;
  font-size: 20px;
  margin: 0 20px;
  transition: all 0.3s ease;
  margin-left: 20px;
  margin-right: 30px;
  color: #5C1A1B;
}

.icons .github-icon{
  margin: 0 20px;
}

.icons .github-icon:hover {
  transform: scale(1.2);
  color: azure;
}

.icons .instagram-icon {
  margin: 0 20px;
}

.icons .instagram-icon:hover {
  transform: scale(1.2);
  color: #d62976;
}

.icons .spotify-icon {
  margin: 0 10px;
}

.icons .spotify-icon:hover {
  transform: scale(1.2);
  color: #1db954;
}