/* Genre Dropdown */

#nav select {
  background-color: #ccf381;
  color: #111016;
  font-weight: bold;
  font-size: medium;
}

#nav option {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
  color: #111016;
  font-weight: bold;
  transition: 0.5s ease;
}

ul#nav li a:hover {
  color: whitesmoke;
}

/* Title */

.title h2 {
  text-align: center;
  align-items: center;
  color: #ccf381;
  font-size: 40px;
}

/*Movie Desc*/
#info {
  display: grid;
  grid-template-columns: 20% auto;
  margin-top: 20px;
  padding-right: 2em;
}

/* Movie Banner */

#info .movie {
  width: 25%;
  margin-right: 50px;
  min-width: 250px;
  padding: 10px 12px;
  cursor: pointer;
  margin: 15px 20px;
  transition: 0.2s ease;
  color: #ccf381;
  background-color: #08070e;
  border-radius: 20px;
  margin-bottom: 20em;
  box-shadow: 10px 10px 30px #df3375;
  border: 2.5px solid #df3375;
}

#info .movie img {
  width: 100%;
  border-radius: 10px;
  float: left;
}

/* Grid Content */

.movie-overview {
  border-radius: 30px;
  padding-left: 17em;
}

/*desc*/

/* .desc {
  background-color: #4831D4;
} */

/* Synopsis */

.sinopsis {
  background-color: #08070e;
  border-radius: 10px;
  padding-bottom: 1px;
  box-shadow: 10px 10px 30px #df3375;
}

.deskripsi {
  color: wheat;
  font-size: 15px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

#info .desc h5 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: wheat;
}

#info .desc h4 {
  font-size: 50px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -6em;
  margin-bottom: 50px;
  color: #ccf381;
}

/*Movie Genre*/
.genre {
  background-color: #08070e;
  border-radius: 10px;
  padding-bottom: 1px;
  box-shadow: 10px 10px 30px #df3375;
  color: #ccf381;
  margin-bottom: 10px;
  margin-right: 29em;
}

.genre h4 {
  margin-top: 10px !important;
}

.category {
  display: flex;
}

.category div {
  padding: 20px 60px 20px 60px;
  font-weight: bold;
  border-radius: 10px;
  font-size: medium;
  background-color: transparent;
  color: #ccf381;
  cursor: pointer;
  border: 2.5px solid #df3375;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #df3375;
  margin: -20px -10px 20px 50px;
}

.category div:hover {
  color: wheat;
  background-image: linear-gradient(to left, #ccf381, black);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 1);
  transition: 0.5s ease;
}

/* Youtube video */

.movie-overview {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#overview {
  position: absolute;
  top: 2%;
  left: 13%;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 45%;
  border: none;
}

.lds-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ccf381;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccf381 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
