/* Genre Dropdown */

#nav select {
  background-color: #111016;
  color: #ccf381;
  font-weight: bold;
  font-size: medium;
}

#nav select:hover {
  background-color: #111016;
  color: #ccf381;
  font-weight: bold;
  font-size: medium;
}

#nav option {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 0;
  color: #ccf381;
  font-weight: bold;
  transition: 0.5s ease;
}

ul#nav li a:hover {
  color: whitesmoke;
}

/* Title */

.title h2 {
  text-align: center;
  align-items: center;
  color: #ccf381;
  font-size: 40px;
}

/*Movie Desc*/
#info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-right: 2em;
  max-height: calc(100vh - 60px); /* Mengatur tinggi maksimum grid */
  gap: 20px;
}

/* Movie Banner */

.movie {
  width: 25%;
  /* margin-right: 50px; */
  min-width: 250px;
  padding: 10px 12px;
  cursor: pointer;
  margin: 15px 20px;
  transition: 0.2s ease;
  color: #ccf381;
  background-color: #08070e;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #50c878;
  border: 2.5px solid #50c878;
  margin-top: 1px;
}

#info .movie img {
  width: 100%;
  border-radius: 10px;
  /* float: left; */
}

#info .movie h3 {
  font-size: 27px;
}

#info .movie h5 {
  font-size: 21px;
  margin-top: -1em;
}

#info .movie h6 {
  font-size: 18px;
  margin-top: -1em;
}

/* Grid Content */

.movie-overview {
  border-radius: 10px;
  padding-left: 17em;
}

/*desc*/
/* Synopsis */
.sinopsis {
  background-color: #08070e;
  border-radius: 10px;
  padding-bottom: 1px;
  box-shadow: 10px 10px 30px #50c878;
  color: #ccf381;
  margin-bottom: 10px;
  margin-top: -5.2em;
}

.sinopsis h5 {
  font-size: 2px;
}

@media screen and (max-width: 768px) {

  #info {
    margin-left: 30px;
  }

  .category {
    flex-wrap: wrap;
  }
}

.deskripsi {
  color: wheat;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.deskripsi div {
  margin-bottom: 10px;
}

.deskripsi strong {
  font-weight: bold;
}

.deskripsi strong::after {
  content: ":";
}

#info .desc h5 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: wheat;
}

#info .desc h4 {
  font-size: 45px;
  font-weight: 500;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -6em;
  margin-bottom: 50px;
  color: #ccf381;
}

/*Movie Genre*/
.genre {
  background-color: #08070e;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 30px #50c878;
  color: #ccf381;
  margin-bottom: 10px;
}

.genre h4 {
  margin-top: 10px !important;
}

.category {
  display: flex;
  flex: wrap;
  gap: 5px;
  padding-left: 50px;
}

.category div {
  padding: 20px 60px;
  font-weight: bold;
  font-size: 17px;
  color: #ccf381;
  background-color: #111016;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.category div:hover {
  background-color: #50c878;
  color: #08070e;
}

/* Youtube video */

.movie-overview {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#overview {
  position: absolute;
  top: 2%;
  left: 13%;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 45%;
  border: none;
}

.lds-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ccf381;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccf381 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  #info {
    margin-left: 30px;
  }

  .movie-overview {
    padding-left: 0;
  }

  #info .desc h4 {
    margin-top: 0;
  }

  .category div {
    padding: 15px 40px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  #info {
    margin-left: 30px;
  }

  .movie {
    margin: 10px;
    padding: 10px;
  }

  .category div {
    padding: 10px 30px;
    font-size: 10px;
  }

  .title h2 {
    font-size: 30px;
  }

  .deskripsi {
    font-size: 17px;
  }

  .category div {
    font-size: 15px;
  }
}

/* Responsive CSS */

/* Gaya untuk mode potret pada perangkat seluler */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .card-item {
    flex-basis: 100%;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc {
    margin-top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 992px) and (orientation: portrait) {
  /* #info Buat Tablet*/
  .card {
    flex-direction: column;
    align-items: center;
  }

  .card-item {
    flex-basis: 100%;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .desc {
    margin-top: 20px;
    width: 100%;
  }
}

@media only screen and (max-width: 1284px) and (orientation: portrait) {
  /* #info Buat Tablet*/
  .card {
    flex-direction: column;
    align-items: center;
  }

  .card-item {
    flex-basis: 100%;
  }

  #info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .desc {
    margin-top: 20px;
    width: 100%;
  }
}

.desc .video-player {
  margin-top: 20px;
  width: 100%;
}

.desc .video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #info {
    margin-left: 30px;
  }
  .desc .video-player {
    padding-top: 0; /* Perbandingan aspek 4:3 (3/4 * 100) */
    max-height: 250px;
    width: 100%;
  }

  .desc .video-player iframe {
    width: 100%;
    height: 100%;
  }
}

/* Gaya untuk mode landscape pada perangkat seluler */
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .card {
    justify-content: space-between;
  }

  .card-item {
    flex-basis: 48%;
  }

  #info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .desc {
    margin-left: 20px;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Gaya untuk mode landscape pada perangkat seluler */
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .card {
    justify-content: space-between;
  }

  .card-item {
    flex-basis: 48%;
  }

  #info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .desc {
    margin-left: 20px;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Gaya untuk mode landscape pada perangkat seluler */
@media only screen and (max-width: 1195px) and (orientation: landscape) {
  /* #info Buat Tablet selebar Surface */ 
  .card {
    justify-content: space-between;
  }

  .card-item {
    flex-basis: 48%;
  }

  #info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }

  .desc {
    margin-left: 20px;
  }

  .category {
    display: flex;
    flex-wrap: wrap;
  }
}


